.recipe-card:hover {
  cursor: pointer;
}

.overlay {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.recipe-card:hover .overlay{
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.5s ease-in;
}

.card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 5;
  font-size: 1rem;
  padding: 1rem;
}

.recipe-card:hover .card-body {
  display: block;
  transition: display 1s ease 1s;
}

.card-body h5 {
  font-size: 2rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.9);
  background: transparent;
}