.range-name {
  min-width: 20%;
}

.range-value-display {
  width: 30%;
  text-align: right;
}

.labels-fieldset {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.labels-fieldset .form-check {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .labels-fieldset {
    width: 50%;
  }
}
