.range-label {
  min-width: 20%;
}

.range-value-display {
  width: 30%;
  text-align: right;
}

.labels-fieldset {
  display: flex;
  flex-wrap: wrap;    
}

.labels-fieldset .form-check {
  margin-right: 10px;    
}